
.card {
  display: inline-block;
  width: 36px;
  height: 48px;
  margin-left: -9px;
  margin-right: -9px;
  background-size: cover;
}

.card-type1 {
  background-image: url(../assets/niu/cards1.png)
}

.card-type2 {
  background-image: url(../assets/niu/cards2.png)
}

.card-type3 {
  background-image: url(../assets/niu/cards3.png)
}

.card-type4 {
  background-image: url(../assets/niu/cards4.png)
}

.pokers {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
}

.poker {
  display: inline-block;
  position: relative;
}

.win-badge {
  position: absolute;
  right: -15px;
  top: 20px;
  display: inline-block;
  background-image: url(../assets/niu/niuniu_win.png);
  background-size: cover;
  width: 30px;
  height: 30px;
  z-index: 2;
}

.pokers-rank {
  display: inline-block;
  background-image: url(../assets/niu/niuniu_rank.png);
  background-size: 45px  300px;
  width: 45px;
  height: 27px;
}

@for $num from 1 through 13 {
  .card-#{$num} {
    background-position: 0 (($num - 1) * 100% / 12);
  }
}

@for $num from 1 through 10 {
  .rank-#{$num} {
    background-position: 0 (($num) * -27px);
  }
}

.pokers-name {
  display: inline-block;
  width: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.banker:after {
  content: '庄';
  padding: 2px 10px;
  border-radius: 4px;
  font-weight: 700;
  background-color: red;
  color: yellow;
}

%player-style {
  padding: 2px 10px;
  border-radius: 4px;
  font-weight: 700;
  background-color: green;
  color: #fff;
}

$player_number: '闲一', '闲二', '闲三', '闲四', '闲五';
@for $num from 1 through 5 {
  .player-n#{$num}:after {
    content: nth($player_number, $num);
    @extend %player-style;
  }
}
