%gd11x5ball{
  display: inline-block;
  background: url("../assets/ball-sprites.png") no-repeat -117px -26px;
  width: 24px;
  height: 27px;
  line-height: 27px;
  font-weight: bold;
  font-size: 13px;
}
@mixin gd11x5-num {
  .gd11x5_pg_sn_1f1,
  .gd11x5_pg_sn_b1,
  .gd11x5_pg_sn_b2,
  .gd11x5_pg_sn_b3,
  .gd11x5_pg_sn_b4,
  .gd11x5_pg_sn_b5 {
    @extend %gd11x5ball;
  }
  @for $i from 1 through 11 {
    .gd11x5_pg_wc_wc_#{$i},
    .gd11x5_pg_seq_seq_#{$i}{
      @extend %gd11x5ball;
    }
  }
}

@include gd11x5-num;

@mixin bcr-num {
  @for $i from 1 through 10 {
    .bcr_pl_champion_#{$i},
    .bcr_pl_2nd_#{$i},
    .bcr_pl_3rd_#{$i},
    .bcr_pl_4th_#{$i},
    .bcr_pl_5th_#{$i},
    .bcr_pl_6th_#{$i},
    .bcr_pl_7th_#{$i},
    .bcr_pl_8th_#{$i},
    .bcr_pl_9th_#{$i},
    .bcr_pl_10th_#{$i},
    .jspk10_pl_gr_1p_#{$i},
    .jspk10_pl_gr_2p_#{$i},
    .jspk10_pl_gr_3p_#{$i},
    .jspk10_pl_gr_4p_#{$i},
    .jspk10_pl_gr_5p_#{$i},
    .jspk10_pl_gr_6p_#{$i},
    .jspk10_pl_gr_7p_#{$i},
    .jspk10_pl_gr_8p_#{$i},
    .jspk10_pl_gr_9p_#{$i},
    .jspk10_pl_gr_10p_#{$i},
    .mlaft_pl_gr_1p_#{$i},
    .mlaft_pl_gr_2p_#{$i},
    .mlaft_pl_gr_3p_#{$i},
    .mlaft_pl_gr_4p_#{$i},
    .mlaft_pl_gr_5p_#{$i},
    .mlaft_pl_gr_6p_#{$i},
    .mlaft_pl_gr_7p_#{$i},
    .mlaft_pl_gr_8p_#{$i},
    .mlaft_pl_gr_9p_#{$i},
    .mlaft_pl_gr_10p_#{$i},
    .er75ft_pl_gr_1p_#{$i},
    .er75ft_pl_gr_2p_#{$i},
    .er75ft_pl_gr_3p_#{$i},
    .er75ft_pl_gr_4p_#{$i},
    .er75ft_pl_gr_5p_#{$i},
    .er75ft_pl_gr_6p_#{$i},
    .er75ft_pl_gr_7p_#{$i},
    .er75ft_pl_gr_8p_#{$i},
    .er75ft_pl_gr_9p_#{$i},
    .er75ft_pl_gr_10p_#{$i} {
      display: inline-block;
      background: url(../assets/#{$i}.png) no-repeat center center;
      width: 26px;
      height: 26px;
      line-height: 26px;
      text-indent: -9999px;
    }
  }
}
@include bcr-num;

$sscgames: tjssc, xjssc, cqssc, jsssc;

%sscball{
  background: url("../assets/ball_2.png") no-repeat;
  display: inline-block;
  text-indent: -9999px;
  width: 26px;
  line-height: 26px;
}

@mixin ssc-num{
  @each $game in $sscgames{
    @for $j from 1 through 5 {
      @for $i from 0 through 9 {
        .#{$game}_pl_inte#{$j}b_#{$j}b_num_#{$i} {
          @extend %sscball;
          background-position: 0 (-27px * $i);
        }
      }
    }
  }
}
@include ssc-num;


$hk6_playgroups: spc, poscnum, poscspcnump1, poscspcnump2, poscspcnump3, poscspcnump4, poscspcnump5, poscspcnump6, shxiao_spczdc, withcode, ntinfvr_num ,'5elmnts',clrwvs_color, txiao_spczdc, shawzdc, pxxmzdc, exl;
$hk6_plays: spcb, spca, posc, poscspcnump1;

%hklball{
  background: url("../assets/ball_hk6.png") no-repeat;
  display: inline-block;
  text-indent: -9999px;
  width: 26px;
  line-height: 26px;
}

@mixin hkl-num{
  @each $playgroup in $hk6_playgroups{
    @each $play in $hk6_plays{
      .hkl_pg_#{$playgroup}{
        @extend %hklball;
      }
      @for $i from 1 through 49 {
        .hkl_pl_#{$play}_#{$i}{
          background-position: 0 (-27px * ($i - 1));
        }
        @if $playgroup == shxiao_spczdc{
          @if $i < 10 {
            .hkl_pg_#{$playgroup}-zodiacnums-0#{$i} {
              background-position: 0 (-27px * ($i - 1));
            }
          }
          .hkl_pg_#{$playgroup}-zodiacnums-#{$i} {
            background-position: 0 (-27px * ($i - 1));
          }
        }
        @if $playgroup == withcode, ntinfvr_num, 5elmnts, clrwvs_color, txiao_spczdc, shawzdc, pxxmzdc, exl {
          .hkl_pg_#{$playgroup}_#{$i} {
            background-position: 0 (-27px * ($i - 1));
          }
        }

        @if $playgroup == poscnum{
          .hkl_pl_posc#{$i}{
            background-position: 0 (-27px * ($i - 1));
          }
        }

        @if str-slice($playgroup, 0, 7) == poscspc {
          @for $j from 1 through 6 {
            .hkl_pl_poscspcnum#{$i}p#{$j} {
              background-position: 0 (-27px * ($i - 1));
            }
          }
        }
      }
    }
  }
}
@include hkl-num;


@mixin jsk3-num {
  .jsk3_pg_dxtb_sglnsz,
  .jsk3_pg_dxtb_tri,
  .jsk3_pg_dxtb_dbl,
  .jsk3_pg_dxtb_2diff{
    display: inline-block;
    height: 27px;
    line-height: 27px;
  }
  .jsk3_pg_dxtb_dbl{
    background: url(../assets/ball_4.png) repeat-x;
    width: 54px;
    text-indent: -9999px;
  }
  .jsk3_pg_dxtb_2diff{
    background-image: url(../assets/ball_4.png), url(../assets/ball_4.png);
    background-repeat: no-repeat, repeat-x;
    width: 54px;
    text-indent: -9999px;
  }
  @for $i from 1 through 6 {
    .jsk3_pl_dxtb_sglnsz_#{$i} {
      background: url(../assets/ball_4.png) no-repeat;
      background-position: 0 (-27px * ($i - 1));
      width: 27px;
      text-indent: -9999px;
    }
    .jsk3_pl_dxtb_tri_#{$i} {
      background: url(../assets/ball_4.png) repeat-x;
      background-position: 0 (-27px * ($i - 1)) * 0.8;
      background-size: (27px * 0.8) (162px * 0.8);
      width: 63px;
      height: 22px;
      line-height: 22px;
      text-indent: -9999px;
    }
    .jsk3_pl_dxtb_dbl_#{$i}{
      background-position: 0 (-27px * ($i - 1));
      text-indent: -9999px;
    }
    @for $j from 1 through 6 {
      .jsk3_pl_dxtb_2diff_#{$i}_#{$j} {
        background-position: 0 (-27px * ($i - 1)), 0 (-27px * ($j - 1));
      }
    }
  }
}

@include jsk3-num;

@mixin bjkl8-num {
  .bjkl8_pg_pc_pc{
    display: inline-block;
    background: url(../assets/ball_5_small.png) repeat-x;
    width: 21px;
    text-indent: -9999px;
    height: 23px;
    line-height: 23px;
  }
  @for $i from 1 through 80 {
    .bjkl8_pl_pc_pc_#{$i} {
      background-position: 0 (-23px * ($i - 1));
    }
  }
}

@include bjkl8-num;
%cqlfball{
  display: inline-block;
  background: url(../assets/ball_nc_top.png) repeat-x;
  width: 32px;
  text-indent: -9999px;
  height: 33px;
  line-height: 33px;
}
@mixin cqlf-num {
  @for $j from 1 through 20 {
    .cqlf_pg_wc_wc_#{$j} {
      background-position: 0 (-33px * ($j - 1));
      @extend %cqlfball;
    }
    @for $i from 1 through 8 {
      .cqlf_pl_sbssb#{$i}_sb_#{$j} {
        background-position: 0 (-33px * ($j - 1));
        @extend %cqlfball;
      }
    }
  }
}
@include cqlf-num;

%gdklsfball{
  display: inline-block;
  background: url(../assets/ball_1.png) repeat-x;
  width: 27px;
  text-indent: -9999px;
  height: 27px;
  line-height: 27px;
}
@mixin gdklsf-num {
  @for $j from 1 through 20 {
    .gdklsf_pg_wc_wc_#{$j} {
      background-position: 0 (-27px * ($j - 1));
      @extend %gdklsfball;
    }
    @for $i from 1 through 8 {
      .gdklsf_pl_sbssb#{$i}_sb_#{$j} {
        background-position: 0 (-27px * ($j - 1));
        @extend %gdklsfball;
      }
      .gdklsf_pl_pc_pc_#{$j} {
        background-position: 0 (-27px * ($j - 1));
        @extend %gdklsfball;
      }
    }
  }
}
@include gdklsf-num;

