.gd11x5_pg_sn_1f1,
.gd11x5_pg_sn_b1,
.gd11x5_pg_sn_b2,
.gd11x5_pg_sn_b3,
.gd11x5_pg_sn_b4,
.gd11x5_pg_sn_b5 {
  display: inline-block;
  background: #3389D5;
  color: #fff;
  width: 26px;
  height: 26px;
  line-height: 26px;
  border-radius: 13px;
  font-weight: normal;
  font-size: 13px;
}

@mixin bcr-num {
  @for $i from 1 through 10 {
    .bcr_pl_champion_#{$i},
    .bcr_pl_2nd_#{$i},
    .bcr_pl_3rd_#{$i},
    .bcr_pl_4th_#{$i},
    .bcr_pl_5th_#{$i},
    .bcr_pl_6th_#{$i},
    .bcr_pl_7th_#{$i},
    .bcr_pl_8th_#{$i},
    .bcr_pl_9th_#{$i},
    .bcr_pl_10th_#{$i},
    .jspk10_pl_gr_1p_#{$i},
    .jspk10_pl_gr_2p_#{$i},
    .jspk10_pl_gr_3p_#{$i},
    .jspk10_pl_gr_4p_#{$i},
    .jspk10_pl_gr_5p_#{$i},
    .jspk10_pl_gr_6p_#{$i},
    .jspk10_pl_gr_7p_#{$i},
    .jspk10_pl_gr_8p_#{$i},
    .jspk10_pl_gr_9p_#{$i},
    .jspk10_pl_gr_10p_#{$i},
    .mlaft_pl_gr_1p_#{$i},
    .mlaft_pl_gr_2p_#{$i},
    .mlaft_pl_gr_3p_#{$i},
    .mlaft_pl_gr_4p_#{$i},
    .mlaft_pl_gr_5p_#{$i},
    .mlaft_pl_gr_6p_#{$i},
    .mlaft_pl_gr_7p_#{$i},
    .mlaft_pl_gr_8p_#{$i},
    .mlaft_pl_gr_9p_#{$i},
    .mlaft_pl_gr_10p_#{$i}{
      display: inline-block;
      background: url(../assets/#{$i}.png) no-repeat center center;
      width: 26px;
      height: 26px;
      line-height: 26px;
      text-indent: -1000px;
    }
  }
}
@include bcr-num;


$sscgames: tjssc, xjssc, cqssc, jsssc;

%sscball{
  background: url("../assets/ball_2.png") no-repeat;
  display: inline-block;
  text-indent: -9999px;
  width: 26px;
  line-height: 26px;
}

@mixin ssc-num{
  @each $game in $sscgames{
    @for $j from 1 through 5 {
      @for $i from 0 through 9 {
        .#{$game}_pl_inte#{$j}b_#{$j}b_num_#{$i} {
          @extend %sscball;
          background-position: 0 (-27px * $i);
        }
      }
    }
  }
}
@include ssc-num;

$hk6_playgroups: spc, poscnum, poscspcnump1, poscspcnump2, poscspcnump3, poscspcnump4, poscspcnump5, poscspcnump6;
$hk6_plays: spcb, spca, posc, poscspcnump1;

%hklball{
  background: url("../assets/ball_hk6.png") no-repeat;
  display: inline-block;
  text-indent: -9999px;
  width: 26px;
  line-height: 26px;
}

@mixin hkl-num{
  @each $playgroup in $hk6_playgroups{
    @each $play in $hk6_plays{
      .hkl_pg_#{$playgroup}{
        @extend %hklball;
      }
      @for $i from 1 through 49 {
        .hkl_pl_#{$play}_#{$i}{ /*特馬*/
          background-position: 0 (-27px * ($i - 1));
        }
        @if $playgroup == poscnum{/*正馬*/
          .hkl_pl_posc#{$i}{
            background-position: 0 (-27px * ($i - 1));
          }
        }
        @if str-slice($playgroup, 0, 7) == poscspc { /*正馬特6*/
          @for $j from 1 through 6 {
            .hkl_pl_poscspcnum#{$i}p#{$j} {
              background-position: 0 (-27px * ($i - 1));
            }
          }
        }
      }
    }
  }
}
@include hkl-num;
