/*game latest result balls*/

/*specific: ssc type games, common: ball_2.png*/
$results_ssc: tjssc, xjssc, cqssc, jsssc;
$ssc_length: length($results_ssc);

@for $index from 1 through $ssc_length {
  .result-#{nth($results_ssc, $index)} {
    background: url("../assets/ball_2.png") no-repeat;
    height: 27px;

    b {
      display: inline-block;
      text-indent: -9999px;
      width: 20px;
      margin-left: 5px;
    }

    @for $num from 1 through 10 {
      &.resultnum-#{$num} {
        background-position: 0 (-27px * $num);
      }
    }
  }
}

/*specific: racing games, common: ball-pk.png*/
$results_racing: jspk10, bcr, mlaft, er75ft;
$racing_length: length($results_racing);

@for $index from 1 through $racing_length {
  .result-#{nth($results_racing, $index)} {
    background: url("../assets/ball-pk.png") no-repeat;
    height: 20px;
    b {
      display: inline-block;
      text-indent: -9999px;
      width: 16px;
      margin-left: 5px;
    }

    @for $num from 1 through 10 {
      &.resultnum-#{$num} {
        background-position: 0 (-21px * ($num - 1));
      }
    }
  }
}

/*specific: guandong region games, common: ball_1.png*/
$results_gd: gd11x5, gdklsf;
$gd_length: length($results_gd);

@for $index from 1 through $gd_length {
  .result-#{nth($results_gd, $index)} {
    background: url("../assets/ball_1.png") no-repeat;
    height: 27px;
    b {
      display: inline-block;
      text-indent: -9999px;
      width: 20px;
      margin-left: 5px;
    }

    @for $num from 1 through 20 {
      &.resultnum-#{$num} {
        background-position: 0 (-27px * ($num - 1));
      }
    }
  }
}


/*each one below just has its own single ball png*/

.result-jsk3 {
  background: url("../assets/ball_4.png") no-repeat;
  height: 27px;
  b {
    display: inline-block;
    text-indent: -9999px;
    width: 24px;
    margin-left: 7px;
  }

  @for $num from 1 through 6 {
    &.resultnum-#{$num} {
      background-position: 0 (-27px * ($num - 1));
    }
  }
}

.result-hkl {
  background: url("../assets/ball_hk6.png") no-repeat;
  height: 26px;
  .ball-zodiac {
    position: relative;
    text-align: left;
    left: 5px;
    top: 7px;
    margin-left: 1px;
  }
  &:nth-child(7) {
    &:before {
      content: '＋';
      color: black;
      position: relative;
      right: 11px;
      top: 3px;
    }
  }

  b {
    display: inline-block;
    text-indent: -9999px;
    width: 24px;
    margin-left: 7px;
  }

  @for $num from 1 through 49 {
    &.resultnum-#{$num} {
      background-position: 0 (-27px * ($num - 1));
    }
  }
}

.result-pcdd {
  background: url("../assets/ball-sprites.png") no-repeat -117px -26px;
  height: 27px;
  text-align: center;
  + .ball-sum {
    margin-left: 5px;
    margin-top: 3px;
    span {
      background: url("../assets/ball-sprites.png") no-repeat -117px -26px;
      height: 27px;
      position: relative;
      vertical-align: middle;
      b {
        position: relative;
        display: inline-block;
        width: 24px;
        text-align: center;
        top: 4px;
        color: black;
        font-size: 14px;
      }
    }
  }

  b {
    display: inline-block;
    position: relative;
    top: 4px;
    width: 24px;
    font-size: 16px;
    color: black;
  }
}

.result-cqlf {
  background: url("../assets/ball_nc_top.png") no-repeat;
  height: 32px;
  position: relative;
  b {
    display: inline-block;
    text-indent: -9999px;
    width: 22px;
    margin-left: 9px;
  }

  @for $num from 1 through 20 {
    &.resultnum-#{$num} {
      background-position: 0 (-33px * ($num - 1));
    }
  }
}

.result-bjkl8 {
  background: url("../assets/ball_5_small.png") no-repeat;
  height: 22px;
  width: 25px;
  margin-bottom: 1px;
  b {
    display: inline-block;
    text-indent: -9999px;
  }

  @for $num from 1 through 80 {
    &.resultnum-#{$num} {
      background-position: 0 (-23px * ($num - 1));
    }
  }
}
