@import "./vars.scss";

.el-container {
  width: $container_width;
}
.el-input.extramini .el-input__inner {
  margin: 2px 0;
  height: 26px;
}

.el-table--small td, .el-table--small th {
  padding: 4px 0;
}

.el-menu-item i {
  color: #fff;
}

.el-form-item--mini,.el-form-item--small {
  &.el-form-item{
    margin-bottom: 24px;
  }
}
.el-tabs--top{
  .el-tabs__nav-scroll{
    padding-left: 20px;
  }
}
.el-table__row.read {
  color: #999
}
.el-table__row.unread {
  color: #666
}
